.root {
  -fx-bg1: #313b39;
  -fx-bg2: #556965;
  -fx-bg3: #6e9c93;
  -fx-bg-active: #b0d4cc;

  -fx-fg1: #85d4c4;
}

.channel-strip, .channel-preview {
  /* -fx-background-color: red; */
  -fx-background-color: -fx-bg1;
  -fx-background-radius: 8;
}

.channel-strip .label,
.channel-preview .label {
  -fx-text-background-color: -fx-fg1;
}

.channel-page, .preview-page {
  -fx-background-color: -fx-bg2;
}

.page-nav {
  -fx-background-color: -fx-bg1;
}

.overlay {
  -fx-background-radius: 16;
  -fx-background-color: -fx-bg2;
}

.overlay-content {
  -fx-background-radius: 8;
  -fx-background-color: -fx-bg1;
}

/* .page-nav-button { */
/*   -fx-background-color: -fx-bg3; */
/*   -fx-background-radius: 8; */
/* } */
/**/
/* .page-nav-button.active { */
/*   -fx-background-color: -fx-bg-active; */
/* } */

.button {
  -fx-background-color: -fx-bg3;
  -fx-background-radius: 8;
}

.button.active {
  -fx-background-color: -fx-bg-active;
}

