
counter ch = 12
counter out = 2

node In{ch+1} = wav(file.wav)
node In7 = wav(test.wav)
node In0 = noise(white)
node In1 = noise(pink)

connect = Out 0.Master -> Ryzen HD Audio Controller Speaker:playback_FL
connect = Out 0.Master -> Ryzen HD Audio Controller Speaker:playback_FR

[ Out {out} ]
chain Ch{ch} = global.In{ch} -> compressor() -> eq(4) -> gain() -> Master

chain Master = eq(6) -> gain() 

# [ Main ]
# chain Mic = stereoToMono() -> compressor() -> gain() -> Master
# connect = Ryzen HD Audio Controller Digital Microphone:capture_FL -> Main.Mic.0.stereoToMono:inL
# connect = Ryzen HD Audio Controller Digital Microphone:capture_FR -> Main.Mic.0.stereoToMono:inR
#
#
# chain Test {ch} = wav(file.wav) -> compressor() -> gain() -> Master
#
# connect = Master -> Ryzen HD Audio Controller Speaker:playback_FL
# connect = Master -> Ryzen HD Audio Controller Speaker:playback_FR
#
# # chain SpotifyL = spotify:output_FL -> gain() -> Master
#
# chain Master = gain()
#
# [ Test ]
# chain TestPage = wav(file.wav) -> gain()
