control ch0.cc11 = Out 0.Master.0.gain.gain
control ch0.cc31 = Out 0.Master.0.gain.on

counter ch = 4
control ch0.cc{ch+3} = Out 0.Ch{ch}.3.gain.gain
control ch0.cc{ch+23} = Out 0.Ch{ch}.3.gain.on

#control enc0.

